body{
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  text-align: center;
  justify-content: center;
  height: 100vh;
}



.App-header {
  background-color: #282c34;
  min-height: 4git add0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App {
    .App-body{
     height: 100vh;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
        .Main{
            display: flex;
            margin:auto;
            justify-content:center;
            width: 100vw;
            margin:20px 30px;
            position: relative;
        }
    }
}

